/* Logo alterations */
@media only screen and (max-width: 768px) {
  #site #header #logoWrapper #logoImage img,
  #site #header #siteTitleWrapper #logoImage img {
    max-height: 100px;
  }
}

/* Previous slide controls */
#featured-display-section .index-gallery .arrow.previous-slide::before,
#testimonials-display-section .sqs-gallery-controls .previous::before,
#block-yui_3_17_2_1_1550077185242_5503 .sqs-gallery-controls .previous::before,
.pagination .newer a::before,
.sqs-block-gallery
  .sqs-block-content
  .sqs-gallery-block-slideshow
  .sqs-gallery
  .sqs-gallery-meta-container
  .sqs-gallery-controls
  .previous::before {
  content: "\2B9C" !important;
  font-family: "Lato" !important;
  font-size: 32px !important;
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
}

/* Next slide controls */
#featured-display-section .index-gallery .arrow.next-slide::before,
#testimonials-display-section .sqs-gallery-controls .next::before,
#block-yui_3_17_2_1_1550077185242_5503 .sqs-gallery-controls .next::before,
.pagination .older a::after,
.sqs-block-gallery
  .sqs-block-content
  .sqs-gallery-block-slideshow
  .sqs-gallery
  .sqs-gallery-meta-container
  .sqs-gallery-controls
  .next::before {
  content: "\2B9E" !important;
  font-family: "Lato" !important;
  font-size: 32px !important;
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
}

/* Testimonial carousel fix on small screens */
@media only screen and (max-width: 768px) {
  #testimonials-display-page .carousel--testimonials .slide .content h3 {
    margin: 0.5em 0 0 0.85em;
    font-size: 20px !important;
    font-weight: bold;
  }

  #testimonials-display-page .carousel--testimonials .slide .content p {
    font-size: 16px;
    line-height: 1.5;
  }
}

iframe,
video {
  max-width: 100% !important;
}

.custom-form {
  margin: 0 auto;
}

.custom-form input {
  margin: 0 1em;
  padding: 0.5em;
}

.custom-form label {
}

.custom-form textarea {
  display: block;
  padding: 0.5em;
  max-width: 95%;
  width: 100%;
}

.custom-form button {
  padding: 0.5em 1em;
}

/* New order button */

.custom-order-button-container {
  margin-top: 1rem;
  text-align: center;
}

.custom-order-button-container .custom-order-button,
.custom-order-button-container .custom-order-button:visited {
  position: relative;
  display: block;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  background: black;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 2rem;
  transition: 750ms;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 0;
}

@media only screen and (min-width: 500px) {
  .custom-order-button-container .custom-order-button,
  .custom-order-button-container .custom-order-button:visited {
    display: inline-block;
  }
}

.custom-order-button::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  border-radius: 50%;
  color: white;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  animation: glow 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.custom-order-button::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(0, 0, 0) 40%, rgb(88, 88, 88) 100%);
  color: white;
  border-radius: 2rem;
  transition: 750ms;
  z-index: -1;
}

.custom-order-button:hover,
.custom-order-button:active,
.custom-order-button:focus {
  background-color: black;
  color: white;
}

.custom-order-button:hover::after,
.custom-order-button:active::after,
.custom-order-button:focus::after {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
